body {
	background-color: rgb(235,136,55);
	margin-top: 0px;
	overflow: hidden;
}
.body-container{
	background-color:rgb(235,136,55)!important;
}

body.noScroll body.dialogShowing { /* ...or body.dialogShowing */
	overflow: hidden;
  }
  
a.dinput {
	margin: 1px;
	margin-top: 5px;
	padding: 3px;
	color: rgb(150, 86, 14);
	background-color: rgba(101, 206, 4, 0.4);
	border-width: 1px;
	border-color: rgba(255, 226, 5, 0.712);
	outline-color: rgba(255, 226, 5, 0.712);
	}
a.doutput {
	margin: 1px;
	margin-top: 5px;
	padding: 3px;
	color: rgb(14, 107, 150);
	background-color: rgba(4, 115, 206, 0.4);
	border-width: 1px;
	border-color: rgba(255, 226, 5, 0.712);
	outline-color: rgba(255, 226, 5, 0.712);
}


	#dro, #tool-display-x, #tool-display-y, #tool-display-z, #tool-display-a, #tool-display-b {
    font-family: 'Roboto Mono', monospace;
    font-size:75px;
		text-align: center;
		border:none;
		background-color: rgb(235,136,55);
		color: #FFE105;
    line-height:100%;
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #f00;
/*,    0 0 0.4em #77f;
 ,  0 0 0.6em #00f, 0 0 0.8em #00f, 0 0 1.0em #00f, 0 0 1.2em #00f; */
}

#macros {
    font-family: 'Roboto Mono', monospace;
    font-size:75px;
		text-align: center;
		border-radius: .25em;
		background-color: rgba(247, 139, 51, 0.808);
		border-color: rgba(255, 226, 5, 0.712);
    line-height:100%;
    text-shadow: 0 0 0.1em #fff, 0 0 0.2em #fff, 0 0 0.3em #f00;
}

  #config-system-config {
	font-family: monospace;
	word-wrap: break-word;
}

#cut_part_call {
	background-color: rgba(11, 155, 35, 0.50);
	text-decoration-color: rgba(255, 226, 5, 0.815);
	border-radius: .25em;
}
#first_macro_button, #second_macro_button {
	background-color: rgba(216, 126, 53, 0.582);
	text-decoration-color: rgba(255, 226, 5, 0.815);
	border-radius: .25em;
}

#txt_area {
	background: #327C7E;
	border: 1px solid #646464;
	color: rgb(191, 196, 184);
	resize: none;
}
